:root {
  --titel-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.link.current {
  color: var(--accent-color);
}
.title {
  color: var(--titel-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.btn {
  cursor: pointer;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

/* -----HEADER----- */

.header {
  background-color: #ffffff;
}

.header-logo {
  color: #000000;
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titel-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* -----HERO----- */
.hero {
  background: #2e3362;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* -----ADVANTAGES----- */
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
}

/* -----WORK----- */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* -----COMMAND----- */
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
}

.command-name-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.command-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -----FOOTER----- */
.footer {
  background: #2f303a;
}

.footer-logo {
  color: #ffffff;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71px;
  color: #ffffff;
}

.footer-address-text {
  font-style: normal;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
